$bg: #451E41;
$borderRed: 1rem;

#gals {
  background-color: white;
}


.galcontainer {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin: 0 auto 0 auto;

  .galhead {

  }
}

body {
  margin: 0 !important;
  color: white;
  overflow-x: hidden;
  background-color: white;

}

.goldbandContainer {
  width: 100%;
  position: relative;

  .goldband {
    width:auto;
    background: rgb(255,236,173);
  background: radial-gradient(circle, rgba(255,236,173,1) 10%, rgba(245,203,60,1) 33%, rgba(198,157,15,1) 88%, rgba(140,123,66,1) 100%);
  height: 1rem;
  }
}

//------head
.galcontainer{
  display:grid;
  justify-content: center;
  justify-items: center;
      h1{
        font-size: 2.188rem;
        letter-spacing: 0.26256rem;
        color:$bg;
        height: 4rem;
        margin-bottom: 0;
        }
        .galline {
          height: 3px;
          min-width: 9.32rem;
          background: #F4CB3C;
          border-radius: 3px;
        }



.decor1{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.3rem;
  width: 98%;
  z-index:-1;
  display:none;
}

.flip{
  transform: rotate(180deg);
}

.firstpics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  position: relative;

  #tablet1{
    display:none;
  }
  #tablet2{
    display: none;
  }
  .pics {
    width: 100%;
  }
}

#visamercontainer {
  width: 100%;
  display: flex;
  justify-content: center;

  .visamer {
    color: #656565;
    font-size: 1.125rem;
    letter-spacing: 0.135rem;
    word-spacing: 0.18rem;
    border-bottom:1.5px solid #656565;
    margin-bottom: 4rem;

  }
}
#hidden {
  display: none;
  margin-top: -11rem;
  height: 0%;
  position:relative;
    #deco{
    display:none;
    }
}

#showdeco{
  display:none;
}

.first {
  visibility: visible;
}

//@media

@media (min-width: 390px) {
  .decor2 {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .decor1 {
    display: block;
  }
  .decor2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.3rem;
    width: 97%;
    z-index: -1;
    visibility: visible;
  }

  .firstpics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    position: relative;

    #tablet1 {
      display: block;
    }

    #tablet2 {
      display: block;
    }
    #tablet3 {
      display: none;
    }

    #tablet4 {
      display: none;
    }

    .visamer {
      font-size: 3rem;
    }
  }
}
