$firstcolor: #451E41;
$secondcolor: #F5CB3C;
$headspace : 0.1rem;
$textspace : 0.1rem;
//Line height >>1.5 times the font size;
//Spacing following paragraphs>>2 times the font size;
//Letter spacing (tracking)>>0.12 times the font size;
//Word spacing >>0.16 times the font size.

//----------Landingpage+meny!!!
div.logobar {
  position: fixed !important;
  z-index:999;
  margin: 0 auto;
  width: 100%;
  min-height: 150px;
  -webkit-mask-image: radial-gradient(110% 70% at bottom, transparent 50%, #fff 51%);
  mask-image: radial-gradient(110% 70% at bottom, transparent 50%, #fff 51%);
  background-color: #3b1937; //darker purple
//box-shadow: inset 0 0 10px #000000;
}

#logo{
  padding-top:0.5rem;
  display: block;
   margin-left: auto;
   margin-right: auto;

}


.welcome{
  background-image: url('../img/headpic.jpg');
  box-shadow: inset 0px -85px 50px -1px rgba(0,0,0,0.8);
  position: relative;
  background-size: 390px 300px;
  height:350px;
  background-repeat: no-repeat;
  margin-top: 0rem;
  background-attachment: fixed;
  background-position: 0rem 5rem;
}

.weltext{
position: absolute;
top:13rem;
left:16px;
    h1{//size 33px
      margin-bottom: 0rem;
      font-size: 2.063rem;
      letter-spacing: 0.248rem;
      word-spacing: 0.33rem;
    }
    p{//size 12px
      margin-top:0rem;
      font-size:1rem;
      letter-spacing: 0.09rem;
      line-height: 1.125rem;
      color:#DADADA;
      word-spacing: 0.12rem;
    }
}

ul{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem 0 1rem;
gap:0.8rem;
  li{
    list-style-type: none;
    text-decoration: none;
    display:inline;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    background-color: white;
    border-radius: 2rem;
    letter-spacing: 0.08rem;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.95);

    &:nth-child(3) {
        background-color: $secondcolor;
      }
    a{
      text-decoration: none;
      font-weight: bold;
      color:black;
      font-size: 0.875rem;
      }
    }
  }

.flaggor{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 9rem 0 9rem;
}

.btt{
position: fixed;
right:0.8rem;
bottom:0.8rem;
z-index:999;
}

.decor{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.3rem;
  width:97%;
  z-index: -1;
}
