$ommigcolor: #E7DFE6;
$firstcolor : #451E41;

#ommigs {
  z-index: 10;
  background-color: white;
}

body {
  margin: 0 !important;
}

.ommig {
background-color: $ommigcolor;
color: $firstcolor;
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
font-family: 'Sorts Mill Goudy', serif;
//overflow: hidden;
box-sizing: border-box;

.flowersContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;



  .flower {
    position: absolute;
    top: 2rem;
    right: -5rem;
    width: 16rem;

    &:nth-child(1) {
      left: -5rem;
    }
}
}

.ommigheadflex {
  margin-bottom: 15%;

.ommigHeadlineAndPic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: -7rem;
  margin-top: 10rem;
  z-index: 99;
align-items: end;
justify-items:end;

  .profile{
    width:100%;
  }

  #ommigHeadline {
    font-size: 2.813rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
}

}

section,#ommigText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-top: -4rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  padding-bottom: 0rem;
  margin-bottom: 0rem;

  div,#pageDiv {
  margin-top: 3rem;

  #Hej {
    margin-top:1.5rem;
    margin-bottom: 0rem;
    font-size: 1.375rem; //22px
    letter-spacing: 0.14rem;
    color:#55184F;
}

  p {
    max-width: 100%;
    font-size: 1.063rem;
    letter-spacing: 0.12756rem;
    word-spacing: 0.17008rem;
    line-height: 1.5945rem;
    margin-top:0.8rem;
    margin-bottom:2rem;
    word-break: break-all;
    text-align: justify;
text-justify: inter-word;
  }

  #ommigheadlineUtbildning {
    font-size: 1.25rem;
    color:#55184F;
    }
  }
  .Branch {
  display: space-between;
  flex-flow: column wrap;
  max-width: 100%;

    .row1 {
      display: flex;
      align-items: flex-start;
      padding-left: 0rem;
      margin-top:-3rem;
      font-size: 1.063rem;
      letter-spacing: 0.12756rem;
      word-spacing: 0.17008rem;
      line-height: 1.5945rem;

      h2 {
        padding-left: 0rem;
        color:#55184F;
      }

      p {
        padding-left:0.5rem;
      }

    }

    .row2 {
      display: flex;
      align-items: flex-start;
      margin-top:-2rem;
      font-size: 1.063rem;
      letter-spacing: 0.12756rem;
      word-spacing: 0.17008rem;
      line-height: 1.5945rem;
      color:#55184F;

      h2 {
        color:#55184F;
      }

      p {
        padding-left:0.5rem;
      }

    }
  }

  .dots {
    display: flex;
    justify-content: center;
  padding-bottom: 3rem;
  margin-top:1rem;


    img {
    margin-bottom: 0rem;
    z-index: 200;
    width: 4rem;
    }

  }
}


}
