$ommigcolor: #E7DFE6;
$firstcolor : #451E41;

body {
  margin: 0 !important;
}

.ommig {
background-color: $ommigcolor;
color: $firstcolor;
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
font-family: 'Sorts Mill Goudy', serif;
overflow: hidden;
box-sizing: border-box;
margin-top:0.6rem;

.flowersContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;



  .flower {
    position: absolute;
    top: 1rem;
    right: -5rem;
    width: 16rem;

    &:nth-child(1) {
      left: -5rem;
    }
}
}

.ommigheadflex {
  margin-bottom: 15%;

.ommigHeadlineAndPic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: -6rem;
  margin-top: 18rem;


  .profile{
    width:100%;
  }

  #ommigHeadline {
    font-size: 2.063rem;
    margin-top: 60%;

  }
}

}

section,#ommigText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-top: -4rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  padding-bottom: 5rem;
  margin-bottom: -6rem;

  div,#pageDiv {
  margin-top: 3rem;

  #Hej {

    padding-left: -1rem;
    margin-bottom: 0rem;
}

  p {

    max-width: 86%;


  }

  #ommigheadlineUtbildning {
    padding-left: -10rem;


  }
  }
  .Branch {
  display: space-between;
  flex-flow: column wrap;
  max-width: 80%;

    .row1 {
      display: flex;
      align-items: center;
      padding-left: 0rem;

      h3 {
        padding-left: 0rem;
        font-size: 2.063rem;

      }

      p {
        margin-left: 5%;

      }

    }

    .row2 {
      display: flex;
      align-items: center;
      padding-left: 0rem;


      h3 {
        padding-left: 0rem;
      }

      p {
        margin-left: 5%;

      }

    }





  }

  .dots {
    display: flex;
    justify-content: center;
    padding-bottom: 12rem;


    img {
    margin-bottom: 0rem;
    z-index: 200;
    width: 7rem;
    }

  }
}


}
