
$bg: #451E41;
$borderRed: 1rem;

section#priss {
background-image: url('../svg/purplebg.svg');
background-size: cover;
overflow: hidden;
background-repeat: no-repeat;

}

body {
  margin: 0 !important;
  color: white;


}

.goldbandContainer {
  width: 100%;
  position: relative;


  #goldband {
    width: auto;
    background: #ffecad;
    background: radial-gradient(circle, #ffecad 10%, #f5cb3c 33%, #c69d0f 88%, #8c7b42 100%);
    height: 1rem;
  }
}

.prislista h1{
  font-size: 2.063rem;
  color: $bg;
  margin-bottom: 0;
  height: 4rem;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: white;
  position: relative;
}

.pris{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;
  text-align: center;

  .move {
    text-align: left;
  }

  line {
    z-index: 20;
    height: 3.5px;
    width: 200%;
    border-radius: 3px;
    background-color: white;
    opacity: 12%;
  }

  noline {
    z-index: 20;
    height: 3.5px;
    width: 100%;
  }

}

.line {
  height: 3px;
  width: 14rem;
  border-radius: 3px;
  position: relative;
}

.bg {
  z-index: -3;
  //background-color: $bg;
  position: absolute;
  top: 0rem;
  width: 100%;


   img {
     width: 100%;
  }
}

.giftcontainer {
  width: 100%;
  display: flex;
  justify-content: center;


  #presentkort {
    width: 80%;
    border-radius: 3rem;
    border: thick solid white;
    z-index: 2;

  }
}

.nummbercontainer {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;


  #nummber {
    font-size: 1rem;
    margin-top: -4rem;
    z-index: 3;
    width: 100%;
  }

}

.bokacontainer {
width: 100%;
margin-top: 3rem;



  #boka {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0rem;

  }

  .lowline {
    display: flex;
    justify-content: center;
    width: 100%;
  }

.sc {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  #sms {
    padding-right: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: $borderRed 0 0 $borderRed;
    border: thick solid white;
    background-color: gray;
    position: relative;
    font-size: 1.2rem;
    }

  #tel {
    border: thick solid white;
    padding-right: 3rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0 $borderRed $borderRed 0;
    background-color: #F4CB3C;
    font-size: 1.2rem;


    }
  }
}

.lowline2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: 1rem;
}

p {

}
