$firstcolor: #451E41;
$secondcolor: #F5CB3C;
$headspace : 0.1rem;
$textspace : 0.1rem;

.goldband{
  width:auto;
  background: rgb(255,236,173);
background: radial-gradient(circle, rgba(255,236,173,1) 10%, rgba(245,203,60,1) 33%, rgba(198,157,15,1) 88%, rgba(140,123,66,1) 100%);
height: 1rem;
}

.footer{
  color:white;
//  text-align: center;
  background-color: $firstcolor;
  padding:1rem 0 0 0;
}

.sec1{
  text-align: center;
  h1{
    color:white;
    margin-bottom:0.3rem;
    font-size: 2.188rem;
    letter-spacing: 0.26256rem;
    margin-top:1rem;
    height: fit-content;
  //  text-decoration: underline;
  }
  p{
    margin-top:1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
  }
}

.linepris {
  height: 3px;
  max-width:16.495rem;
  background: white;
  border-radius: 3px;
  margin-top:-0.5rem;
}

.head{
  display:grid;
  justify-content: center;
}

.sec2{

  h3{
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    margin-top:-0.5rem;
  }
}

form{
  display: grid;
//  grid-template-rows: 1fr 1fr 1fr;
label{
font-weight: bold;
font-size: 1.25rem;
letter-spacing: 0.15rem;
}

.till {
  display: flex;
  align-items: center;

  #till{
    margin-left: 0.5rem;
    width: -webkit-fill-available;
    border-radius: 0.813rem;
    background-color: #575757;
    border:0.188rem solid #424242;
    color: #3E3E3E;
    font-size: 0.8rem;
    min-height: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    letter-spacing: 0.05rem;
  }
}
.from {
  display: flex;
  align-items: center;

  #from{
    margin-left: 0.5rem;
    width: -webkit-fill-available;
    border-radius: 0.813rem;
    border:0.188rem solid #424242;
    color: #3E3E3E;
    font-size: 0.8rem;
    min-height: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    letter-spacing: 0.05rem;
  }
}
.subject {
  display: flex;
  align-items: center;

  #subject{
    margin-left: 0.5rem;
    width: -webkit-fill-available;
    border-radius: 0.813rem;
    border:0.188rem solid #424242;
    color: #3E3E3E;
    font-size: 0.8rem;
    min-height: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    letter-spacing: 0.05rem;
  }
}


}

textarea#frågor{
  border-radius: 0.813rem;
  border:0.188rem solid #424242;
  color: #3E3E3E;
  padding:1rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sorts Mill Goudy', serif;
}

.but{
  text-align: center;
  margin-top:1rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sorts Mill Goudy', serif;
  #buttn{
    background-color: #55184F; //brighter purple
    color: white;
    border-radius: 0.75rem;
    width: 8rem;
    height:2.3rem;
    border:0.188rem solid white;
  }
  #buttn:hover{
    background-color: #716167; //purpledust
  }
  #buttn:active{
    background-color: #4CAF50;
  }
}



.ram{
  background-color: $secondcolor;
  border-radius: 0.938rem;
  border:3px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding:1rem;
}




.sec3{
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
    h2{
      color: $secondcolor;
      font-size: 1.65rem;
      letter-spacing: 0.15rem;
      word-spacing: 0.2rem;
      margin-bottom: 0rem;
      margin-top:2rem;
    }
    p{
      margin-top:0.5rem;
      font-size: 1.25rem;
      letter-spacing: 0.15rem;
      word-spacing: 0.2rem;
    }
}

.mapouter{
  text-align: center;

    .gmap_canvas{
      border:3px solid $secondcolor;
      border-radius: 0.75rem;
      width:291px;
      height:165px;
    }
    #gmap_canvas{

      width:291px;
      height:165px;
    }
}



.logofoot{
  display: block;
   margin-left: auto;
   margin-right: auto;
  margin-top:2rem;
  width:20%
}


.end{
  display:grid;
  justify-content: center;
  justify-items: center;
  margin:auto;
  margin-top:2rem;
        .linecopyright {
          height: 3px;
          min-width: 21rem;
          background: #F4CB3C;
          border-radius: 3px;
        }
        p{
          font-weight: lighter;
          font-size: 0.625rem;
          letter-spacing: 0.075rem;
          word-spacing: 0.1rem;
          }

}

@media (min-width:500px){
    .ram{
      margin: 0 2rem 0 2rem;
    }
    .linecopyright{
      width: 28rem;
    }
}

@media (min-width:600px){
    .ram{
      margin: 0 3rem 0 3rem;
    }
    .linecopyright{
      width: 32rem;
    }
}

//media ipad =768px

@media (min-width: 768px) {
  .columnsplit{
    margin-top: 2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    .col1{
      margin-left: 1rem;

    .ram{
      margin: 0 1rem 0 1rem;
    }
  }
      .sec3{
        margin-top:11rem;
        padding: 0rem;
          .adresstext{
            grid-row: 2;
          }
      }
      img.logofoot{
        margin-top:0rem;
      }
  }

  .end{
    margin-top:4rem;
    .linecopyright{
      min-width: 36rem;
    }
  }
}

@media (min-width:1000px){
  .sec1{
    p{
      font-size: 1.35rem !important;
    }
  }
.adresstext{
  p{
    font-size: 1.35rem !important;
  }
}
  h1{
    font-size: 2.188rem !important;
  }
  h2{
    font-size: 1.6rem !important;
  }
  h3{
    font-size: 1.5rem !important;
  }

  form{
  label{
  font-size: 1.35rem;
  }
  .till {
    #till{
      font-size: 1rem;
    }
  }
  .from {
    #from{
      font-size: 1rem;
    }
  }
  .subject {
    #subject{
      font-size: 1rem;
    }
  }

  textarea#frågor{
    font-size: 1rem;
  }

  .but{
    #buttn{
      font-size: 1rem;
    }

   }
  }
  .end{
    p{
      font-size: 0.8rem !important;
      min-width: 50%;
    }
  }
}



@media(min-width:1024px){

.sec3{
  grid-template-rows: 15rem 10rem;
  .mapouter{
    text-align: center;
      .gmap_canvas{
        height:230px;
        width:340px;
        margin-left:-1.5rem;
        #gmap_canvas{
          height:230px;
          width:340px;
        }
      }
   }
  }
}

@media (min-width:1100px){
.sec1{
  h1{
    font-size: 3rem !important;
  }
  .linepris{
    min-width:12rem;
  }
}
}


@media(min-width:1440px){

.columnsplit{
.sec1 {
  h1{
    font-size: 2.388rem;
  }
p{
font-size: 1.85rem;
}
}


  .sec2{
    width:80%;
    margin:auto;
      h3{
        font-size: 2rem;
      }
  }

form{
  label{
    font-size: 1.45rem;
  }
  .till{
    #till{
      font-size: 1rem;
    }
  }
}

.sec3{
    margin-top:13rem;
  h2{
    font-size: 1.85rem;
  }
  p{
    font-size: 1.45rem;
  }
}

.end{
    margin-top:4rem;
    .linecopyright{
      min-width: 60rem;
    }
    p{
      font-size: 0.825rem;
    }
  }
}
}

@media (min-width:1700px){
  .sec1{
    p{
      margin-top:2rem;
        font-size: 2rem !important;
    }
    .head{
      h1{
        font-size: 4rem !important;
      }
      .linepris{
        min-width:16rem;
      }
    }
  }

  .col2{
  margin-top:4rem;
  img.logofoot{
    margin-top:5rem;
  }
  }

.sec3{
  .mapouter{
    .gmap_canvas{
      border: 0.3rem solid $secondcolor;
    }
  }
}
.adresstext{
  p{
    font-size: 2rem !important;
  }
}
  h1{
    font-size: 4rem !important;
  }

  h2{
    font-size: 3.8rem !important;
  }
  h3{
    font-size: 2.5rem !important;
  }

.sec2{
  .ram{
    border:0.3rem solid white ;
  }
}
  form{

  label{
  font-size: 2rem !important;
  }

  .till {
    display: flex;
    align-items: center;

    #till{
      width: -webkit-fill-available;
      border:0.3rem solid #424242;
      color: #3E3E3E;
      font-size: 1.35rem!important;
      min-height: 3rem;
      text-align: center;
    }
  }
  .from {
    #from{
      font-size: 1.35rem !important;
      min-height: 3rem;
    }
  }
  .subject {
    #subject{
        font-size: 1.35rem !important;
        min-height: 3rem;
    }
  }

  textarea#frågor{
    font-size: 1.5rem !important;
    border:0.3rem solid #424242;

  }

  .but{
    margin-top:1rem;
    #buttn{
      background-color: #55184F; //brighter purple
      color: white;
      border-radius: 0.75rem;
      width: 9rem;
      height:3rem;
      border:0.25rem solid white;
      font-size: 1.5rem !important;
    }
    #buttn:hover{
      background-color: #716167; //purpledust
    }
    #buttn:active{
      background-color: #4CAF50;
    }
  }
}

@media(min-width:2560px){
.columnsplit{
  .sec2{
    width:50%;
    margin:auto;
  }

  .end{
    margin-top:4rem;
    width:60rem;
    margin:auto;
    margin-top:4rem;
    .linecopyright{
      min-width: 70rem;
    }
    p{
      font-size: 0.825rem;
      letter-spacing: 0.075rem;
      word-spacing: 0.1rem;
    }
  }

}
}
}
