$firstcolor: #451E41;
$secondcolor: #F5CB3C;
$headspace : 0.1rem;
$textspace : 0.1rem;
//Line height >>1.5 times the font size;
//Spacing following paragraphs>>2 times the font size;
//Letter spacing (tracking)>>0.12 times the font size;
//Word spacing >>0.16 times the font size.

#heas {
  background-color: $firstcolor;
  min-height:35.5rem;
}

//----------Landingpage+meny!!!
div.logobar {
  position: fixed !important;
  z-index:999;
  margin: 0 auto;
  width: 100%;
  min-height: 150px;
  -webkit-mask-image: radial-gradient(110% 70% at bottom, transparent 50%, #fff 51%);
  mask-image: radial-gradient(110% 70% at bottom, transparent 50%, #fff 51%);
  background-color: #3b1937; //darker purple
//box-shadow: inset 0 0 10px #000000;
}

#logo{
  padding-top:0.5rem;
  display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 20%;

}

.ululcnotainer{
  display:none;
}

#no{
  display: none !important;
}


.welcome{
  background-image: url('../img/headpic_11zon.jpg');
  box-shadow: inset 0rem -8rem 3rem -1rem rgba(0,0,0,0.8);
  position: relative;
  background-size: 100% 300px;
  height:350px;
  background-repeat: no-repeat;
  margin-top: 0rem;
  background-attachment: fixed;
  background-position: 0rem 5rem;
}

.weltext{
position: absolute;
top:11rem;
left:1rem;
    h1{//size 33px
      margin-bottom: 0rem;
      font-size: 2.063rem !important;
      letter-spacing: 0.248rem !important;
      word-spacing: 0.33rem !important;
    }

      p{//size 16px
        margin-top:0rem !important;
        font-size:1rem !important;
        letter-spacing: 0.09rem !important;
        line-height: 1.5rem !important;
        color:#DADADA;
        word-spacing: 0.12rem !important;
    }

}

ul{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem 0 1rem;
  gap:0.8rem;

  li{
    list-style-type: none;
    text-decoration: none;
    display:inline;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    background-color: white;
    border-radius: 2rem;
    letter-spacing: 0.08rem;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.95);

    &:nth-child(3) {
        background-color: $secondcolor;
      }
    a{
      text-decoration: none;
      font-weight: bold;
      color:black;
      font-size: 0.875rem;
      }
    }
  }




    .flaggor{
      margin-top:0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    z-index:100;
      position: absolute;
    }


.btt{
position: fixed;
right:0.8rem;
bottom:0.8rem;
z-index:999;
}

#dec{
  position:relative;
  .decor{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem; //-2
    width:97%;
    z-index: -1;
  }
}


//media



@media (min-width: 300px) {

  #logo{
    padding-top:0.8rem;
    display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 22%;

  }

ul{
  li{
    a{
      font-size: 0.7rem !important;
      }
    }
  }

  .welcome{
    .weltext{
      margin-top:2rem;
      h1{
        font-size: 1.5rem !important;
      }
      p{
        font-size: 0.8rem !important;
        line-height: 1.15rem!important;
      }
    }
  }

  #heas {
    height: 37.5rem;

    .ulcnotainer {
      width: 100%;
      display: flex;
      justify-content: center;

      ul {
          margin-top: 1.5rem;
          width: 90%;
          gap: 1rem;
      }
    }



    .weltext {
    padding-top: -2rem;
    left: 9rem;

    h1 {//size 33px
      font-size: 1rem;
      margin-top: 3rem;
      margin-left: -8rem;
    }
    p {//size 12px
      margin-left: -8rem;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      line-height: 1rem;
        }

    }
  }

  .flaggor{
  }

  #dec{
    position:absolute;
    margin-left:0rem !important;
  margin-top:1rem;
  }
}



@media (min-width: 390px) {

  #logo{
    padding-top:0.3rem;
    display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 20%;

  }

  ul{
    li{
      a{
        font-size: 0.875rem !important;
      }
    }
  }

  .flaggor{
    margin-top:1rem;
  }
  #dec{
    position:absolute;
    margin-top:0rem;
    margin-left:0rem !important;
    width:100%;
  }
}




@media (min-width: 400px) {
  #heas {
    height: 38.5rem;

    .ulcnotainer {
      width: 100%;
      display: flex;
      justify-content: center;

        ul {
            margin-top: 2rem;
            width: 90%;
            gap: 1rem;
      }
    }
  }
  #dec{
    position:absolute;
    margin-top:0.5rem;
  }
}

@media (min-width: 500px) {
  #logo{
    padding-top:0.4rem;
    display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 15%;

  }

.welcome{
  box-shadow: inset 0rem -9rem 3rem -1rem rgba(0,0,0,0.8);
}
  #heas {
    height: 47rem;

    .ulcnotainer {
      width: 100%;
      display: flex;
      justify-content: center;

      ul {
          margin-top: 2rem;
          width: 90%;
          gap: 1rem;
      }
    }



  .welcome {
    background-size: 100% 25rem;
    height: 30rem;
    position: relative;

  .weltext {
  padding-top: 0rem;
  left: 10rem;
  h1 {//size 33px
    font-size: 2.5rem !important;
    margin-top: 9rem;
    margin-left: -8rem;
  }
  p {//size 12px
    margin-top: 0.25rem;
    font-size: 1.25rem !important;
    line-height: 1.5rem !important;
        }
      }
    }
  }

  .decor {
    margin-top: -2rem !important;
  }
}


@media (min-width: 600px) {
  #heas {
    height: 53rem;

    #logo{
      padding-top:0.5rem;
      display: block;
       margin-left: auto;
       margin-right: auto;
       max-width: 12%;
    }

  .welcome {
    background-size: 100% 35rem;
    height: 35rem;
    position: relative;

    .weltext {
    margin-top:-0.5rem;
    left: 10rem;

    h1 {//size 33px
      font-size: 2.5rem;
      margin-top: 15rem;
    }
    p {//size 12px
      margin-top: 0.25rem;
      margin-left: -8rem;
      font-size: 1.5rem;
      line-height: 1.75rem;

          }
        }
  }

  .ulcnotainer {
    width: 100%;
    display: flex;
    justify-content: center;

  ul {
      margin-top: 2rem;
    }
  }


.flaggor{
  margin-top:1.5rem;
}
  .decor {
    margin-top: -2.5rem;
    }
  }
}

@media (min-width: 690px) {
  #heas {
    .welcome {
      .weltext {
        margin-top:3rem;
        h1 {
          margin-top: 12rem;
          font-size: 2.5rem !important;
        }
        p{
          font-size: 1.5rem!important;
          line-height: 1.8rem !important;
        }
      }
    }
  }


  #logo{
    padding-top:0.2rem !important;
     max-width: 12% !important;
  }

  #dec{
    margin-top:-0.5rem !important;
  }
}

@media (min-width: 768px) {
  #heas {
    height: 65rem;

    #logo{
      padding-top:0.2rem !important;
       max-width: 11% !important;
    }

  .welcome {
    background-size: 100% 40rem;
    height: 40rem;
    position: relative;
      box-shadow: inset 0rem -13rem 3rem -1rem rgba(0,0,0,0.8);
    .weltext {
    margin-top: -1.5rem;
    margin-left: -2rem;

    h1 {//size 33px
      font-size: 4rem !important;
      margin-top: 16rem !important;
      margin-left: -5rem;
    }
    p {//size 12px
      font-size: 2.3rem !important;
      line-height: 3rem!important;
      margin-left: -5rem;
}
}
  }

  .ulcnotainer {
    width: 100%;
    display: flex;
    justify-content: center;

  ul {
      margin-top: 3rem;
      width: 90%;
      gap: 1.2rem;


    li {
      text-align: center;
      padding: 1rem 0 1rem 0;


      &:nth-child(3) {
          background-color: $secondcolor;
        }
      .starttext {
        font-size: 1.5rem;
        }

        a{
          font-size: 1.3rem !important;
        }
      }
    }
  }

  .flaggor{
    margin-left:30%;
    margin-right:30%;
    img {
    width:2.5rem;
      }
    }
  }
}

@media (min-width: 880px) {
  #heas {
    height: 66rem;

  div.logobar {
    min-height: 190px;
  }

  #logo {
    padding-top:0.4rem !important;
     max-width: 11% !important;
    }
.welcome{
    box-shadow: inset 0rem -11rem 3rem -1rem rgba(0,0,0,0.8);
  .weltext{
    margin-top: 0rem;
    h1{
      font-size: 3.5rem !important;
    }
    p{

    }
  }
}

.flaggor{
  margin-left:30%;
  margin-right:30%;
    img{
    min-width:2rem;
    }
  }
  }
}

@media (min-width: 1000px) {

  #heas {
  height: 40rem;

  div.logobar {
    display: none;
  }

   .firstlogo {
     display: none;
   }

   .ululcnotainer {
     display: none;
     z-index: 1000;
   }
   #no {
     display: block !important;
   }

  .ulcnotainer {
    background-color: #3b1937;
    z-index: 1000;
    max-height: 8rem;
    position: fixed;


  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0 !important;
    padding-left:0 !important;
    margin-top:0 !important;
    margin-bottom: 0 !important;
    padding:2rem;
    padding-top: 1rem;
    width: 100%;
  }

  li {
    background-color: #3b1937;
    box-shadow: none;
    border-radius: 0;
    display: flex;


    &:nth-child(3) {
      background-color:  #3b1937 !important;

      a {
        color: $secondcolor;

      }
    }
  }



  .starttext {
    color: white;
    font-size: 1rem !important;

  }
}

  .pcshow {
    display: block !important;
    min-height:5rem!important;
    padding-top:0.2rem !important;
     max-width: 9% !important;
  }

.welcome{
  position:relative;
  box-shadow: inset 0rem -14rem 3rem -1rem rgba(0,0,0,0.8);
  .weltext{
    margin-top:-2rem;
    h1{
    font-size:4rem !important;
    }
    p{

    }
  }
}


  .flaggor {
    position:absolute;
    margin-left: 47rem;
    top:9rem;
width:25%;
    .inflaggor {
      z-index: 100;
    }

  }

      .decor {
        display: none !important;

      }

    }
  }


@media (min-width: 1100px) {
  #heas {
    height: 45rem;

    .pcshow {
       max-width: 8% !important;
       padding-bottom: 1rem;
    }

  .welcome {
    background-size: 100% 40rem;
    height: 45rem;
    position: relative;
    .weltext{
      margin-top:4rem;
    }
  }

  .flaggor {
    position:absolute;
    margin-left: 51rem;
    top:9rem;
width:25%;;
    .inflaggor {
      z-index: 100;
    }
  }
}
}

@media (min-width: 1200px) {
  #heas {
    height: 50rem;
    .pcshow {
       max-width: 8% !important;
       padding-bottom: 1rem;
    }

  .welcome {
    background-size: 100% 45rem;
    height: 50rem;
    box-shadow: inset 0rem -18rem 3rem -1rem rgba(0,0,0,0.6);
    .weltext{
      margin-left:1rem;
    h1 {
      font-size: 5rem !important;
      margin-top: 17.5rem;
      margin-left: -7rem;
    }
    p {
      margin-left: -7rem;
      font-size: 2rem !important;
      letter-spacing: 0.148rem;
      line-height: 2.5rem;
}
}
  }
  }
  .flaggor {
    position:absolute;
    margin-left: 56rem!important;
    top:9rem;
    .inflaggor {
      z-index: 100;
    }
  }
}


@media (min-width: 1300px) {

  #heas {
    height: 55rem;

    .pcshow {
       max-width: 7% !important;
       padding-bottom: 1rem;
    }

  .welcome {
    background-size: 100% 50rem;
    height: 55rem;


    .weltext {
    padding-top: 5rem;
    margin-left:1rem;
    h1{
font-size: 6rem !important;
    }
    p{
font-size: 2.5rem !important;
line-height: 3.5rem!important;
    }
  }
  }

  ul{
    li{
    }
  }
  .flaggor {
    position:absolute;
    margin-left: 60rem!important;
    top:9rem;
    .inflaggor {
      z-index: 100;
    }
  }
}
}

@media (min-width: 1400px) {
  #heas {
    height: 55rem !important;

    .pcshow {
       max-width: 7% !important;
       padding-bottom: 0rem;
       padding-top:0rem;
    }

    .ulcnotainer {
      background-color: #3b1937;
      z-index: 1000;
      position: fixed;


      .starttext {
        font-size: 1.5rem !important;

      }

    }

  .welcome {
    background-size: 100% 55rem;
    height: 58rem;

    .weltext {
    padding-top: 0rem;
    left: 11rem;

    h1 {
      font-size: 6rem !important;
      margin-top: 23.5rem !important;

    }
    p {
      font-size: 2.5rem !important;
      letter-spacing: 0.148rem;
      line-height: 2.5rem;
}
  }
  }

  .flaggor {
    margin-left: 66rem !important;
  }
}
}


@media (min-width: 1500px) {
  #heas {
  height: 53rem;

  .pcshow {
     max-width: 6% !important;
     padding-bottom: 0rem;
     padding-top:0rem;
  }

  .ulcnotainer {

    .starttext {
      font-size: 1.5rem !important;

    }

  }

  .welcome {
    background-size: 100% 60rem;
    height: 56rem;

    .weltext {
    padding-top: 12rem;
    left: 13rem;

    h1 {
      margin-top: 9rem !important;
    }
  }
  }

    .flaggor {
        margin-left: 70rem !important;

    }
  }
}


@media (min-width: 1575px) {
  #heas {
  height: 60rem;
  .pcshow {
     max-width: 6% !important;
     padding-bottom: 0rem;
     padding-top:0rem;
  }

  .welcome {
    margin-top: -3rem;
    background-size: 100% 65rem;
    height: 61rem;

    .weltext {
    padding-top: 17.75rem;
    left: 15rem;
  }
  }

  .ulcnotainer {
    background-color: #3b1937;
    z-index: 1000;
    position: fixed;
    height: 20rem !important;
    margin-top:3rem;
    ul{
      padding-top:0.5rem !important;
    }
}
  .flaggor {
      margin-left: 74% !important;

  }

}
}


@media (min-width: 1700px) {
  #heas {
    .welcome {
      margin-top: -3rem;
      background-size: 100% 65rem;
      height: 61rem;
      box-shadow: inset 0rem -22rem 3rem -1rem rgba(0,0,0,0.6);

      .weltext {
        margin-left:-2rem;
      padding-top: 13rem;
      left: 15rem;
      h1{
        font-size: 7rem !important;
      }
      p{
        font-size: 3.5rem !important;
        line-height: 4rem!important;

      }
    }
    }

  .flaggor {
    margin-left: 90rem;
  }
  }

  .flaggor {
      margin-left: 70% !important;

  }
}

@media (min-width: 1800px) {
  #heas {
    .ulcnotainer {
      background-color: #3b1937;
      z-index: 1000;
      position: fixed;
      height: 20rem !important;
      margin-top:3rem;
      padding-bottom: 0.5rem;
      ul{
        padding-top:0.5rem !important;
        padding-bottom:0.5rem;
      }
    }
.welcome{
  background-size: 100% 70rem;
}
  .flaggor {
    top:10rem;
    margin-left: 95rem;
  }
  }
}
