$firstcolor: #451E41;
$secondcolor: #F5CB3C;
$headspace : 0.1rem;
$textspace : 0.1rem;

.goldband{
  width:auto;
  background: rgb(255,236,173);
background: radial-gradient(circle, rgba(255,236,173,1) 10%, rgba(245,203,60,1) 33%, rgba(198,157,15,1) 88%, rgba(140,123,66,1) 100%);
height: 1rem;
}

.footer{
  color:white;
//  text-align: center;
  background-color: $firstcolor;
  padding:1rem 0 0 0;
}

.sec1{
  text-align: center;
  h1{
    color:white;
    margin-bottom:0.3rem;
    font-size: 2.188rem;
    letter-spacing: 0.26256rem;
    margin-top:1rem;
    height: fit-content;
  //  text-decoration: underline;
  }
  p{
    margin-top:1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
  }
}

.linepris {
  height: 3px;
  max-width:18.372rem;
  background: white;
  border-radius: 3px;
  margin-top:-0.5rem;
}

.head{
  display:grid;
  justify-content: center;
}

.sec2{

  h3{
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    margin-top:-0.5rem;
  }
}

form{
  display: grid;
//  grid-template-rows: 1fr 1fr 1fr;
label{
font-weight: bold;
font-size: 1.25rem;
letter-spacing: 0.15rem;
}

.till {
  display: flex;
  align-items: center;

  #till{
    margin-left: 0.5rem;
    width: -webkit-fill-available;
    border-radius: 0.813rem;
    background-color: #575757;
    border:0.188rem solid #424242;
    color: #3E3E3E;
    font-size: 0.8rem;
    min-height: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    letter-spacing: 0.05rem;
  }
}

textarea#frågor{
  border-radius: 0.813rem;
  border:0.188rem solid #424242;
  color: #3E3E3E;
  padding:1rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sorts Mill Goudy', serif;
}

.but{
  text-align: center;
  margin-top:1rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sorts Mill Goudy', serif;
  #buttn{
    background-color: #55184F; //brighter purple
    color: white;
    border-radius: 0.75rem;
    width: 8rem;
    height:2.3rem;
    border:0.188rem solid white;
  }
  #buttn:hover{
    background-color: #716167; //purpledust
  }
  #buttn:active{
    background-color: #4CAF50;
  }
}

}

.ram{
  background-color: $secondcolor;
  border-radius: 0.938rem;
  border:3px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding:1rem;
}




.sec3{
  text-align: center;
  display: grid;
  justify-content: center;
    h2{
      color: $secondcolor;
      font-size: 1.65rem;
      letter-spacing: 0.15rem;
      word-spacing: 0.2rem;
      margin-bottom: 0rem;
      margin-top:2rem;
    }
    p{
      margin-top:0.5rem;
      font-size: 1.25rem;
      letter-spacing: 0.15rem;
      word-spacing: 0.2rem;
    }
}

.mapouter{
  text-align: center;

    .gmap_canvas{
      border:0.188rem solid $secondcolor;
      border-radius: 0.75rem;
    }
}



.logofoot{
  display: block;
   margin-left: auto;
   margin-right: auto;
  margin-top:2rem;
}


.end{
  display:grid;
  justify-content: center;
  justify-items: center;
  margin-top:2rem;
        .linecopyright {
          height: 3px;
          min-width: 100%;
          background: #F4CB3C;
          border-radius: 3px;
        }
        p{
          font-weight: lighter;
          font-size: 0.625rem;
          letter-spacing: 0.075rem;
          word-spacing: 0.1rem;
          }

}
