$bg: #451E41;
$borderRed: 1rem;


#gals {
  background-color: white;
}

body {
  margin: 0 !important;
  color: white;
  overflow-x: hidden;
  background-color: white;
}

.goldbandContainer {
  width: 100%;
  position: relative;

  .goldband {
    width:auto;
    background: rgb(255,236,173);
    background: radial-gradient(circle, rgba(255,236,173,1) 10%, rgba(245,203,60,1) 33%, rgba(198,157,15,1) 88%, rgba(140,123,66,1) 100%);
    height: 1rem;
  }
}

.headlinecontainer h1{
  font-size: 2.188rem;
  color: $bg;
  margin-bottom: 0;
  margin-top: 1.812rem;

  height: 4rem;
}

.decor1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.3rem;
  width: 97%;
  z-index: -1;
  display: none;
}

.flip {
  transform: rotate(180deg);
}

.headline {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: white;
  position: relative;

}

.line {
  height: 3px;
  min-width: 9.5rem !important;
  border-radius: 3px;

}

.lowline2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.firstpics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;

  #tablet1 {
    display: none;
  }

  #tablet2 {
    display: none;
  }
  .pics {
    width: 100%;
  }
}

.another{
  margin-top:4.5rem;
}

#visamercontainer {
  width: 100%;
  display: flex;
  justify-content: center;

  .visamer {
    color: #656565;
    font-size: 1rem;
    border-bottom: solid #656565;
    margin-bottom: 3rem;
  }

}
#hidden {
  display: none;
  margin-top: -11rem;
  height: 0%;
  position: relative;

  #deco {
    display: none;
  }
}

#showdeco {
  display: none;
}

.first {
  visibility: visible;
}

@media (min-width: 390px) {
  .headlinecontainer{
    .headline{
      .lowline{
        .line{
          min-width:9.5rem !important;
        }
      }

    }
  }

  .decor2 {
    display: none;
    visibility: hidden;
  }

}

@media (min-width: 768px) {
    .headlinecontainer{
      .headline{
        margin-top: 5rem;

      }
    }

    .flip{
      margin-bottom:5rem;
    }
  .decor1 {
    display: block;
    margin-bottom: 3rem;
    margin-top: -8rem;
    z-index: -9999;
  }
  .decor2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.3rem;
    width: 97%;
    z-index: -1;
    visibility: visible;
    margin-bottom: 2rem;
  }
  .decor#deco{
    width:97%;
    margin:auto;
    margin-bottom: 2rem;
  }


  .firstpics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    position: relative;

    #tablet1 {
      display: block;
    }

    #tablet2 {
      display: block;
    }
    #tablet3 {
      display: none;
    }

    #tablet4 {
      display: none;
    }





  }
  #visamercontainer {
    #first {
      font-size: 1.25rem;
    }

  }
  #hidden {
    .second {
      .visamer {
        font-size: 1.25rem;
      }
    }
  }


}

@media (min-width: 1000px) {
  #visamercontainer {
    #first {
      font-size: 1.55rem;
    }
  }
  #hidden {
    .second {
      .visamer {
        font-size: 1.55rem;
      }
    }
  }

}

@media (min-width: 1100px){
#gals{
  .headlinecontainer{
    margin-top:5rem;
    h1 {
         font-size: 4rem !important;
      }
        span{
          font-size: 4.5rem !important;
        }

          .line{
              margin-top:1rem;
              height:4px;
            min-width:16rem !important;
          }
    }

    #visamercontainer{
      #first.visamer{
            font-size: 2rem;
      }

  }
  .second a.visamer{
    font-size: 2rem;
  }
}
}
