
$bg: #451E41;
$borderRed: 1rem;

section#priss {
background-image: url('../img/purplebg.png');
background-size: cover;
overflow: hidden;
background-repeat: no-repeat;

}

body {
  margin: 0 !important;
  color: white;
padding:0rem;
}

.goldbandContainer {
  width: 100%;
  position: relative;


  #goldband {
    width: auto;
    background: #ffecad;
    background: radial-gradient(circle, #ffecad 10%, #f5cb3c 33%, #c69d0f 88%, #8c7b42 100%);
    height: 1rem;
  }
}

//-------headpris---
.prishead{
  display:grid;
  justify-content: center;
  justify-items: center;
      h1{
        font-size: 2.188rem;
        letter-spacing: 0.26256rem;
        color:white;
        height: 4rem;
        margin-bottom: 0;
        }
        .prisline {
          height: 3px;
          min-width: 10.453rem;
          background: #F4CB3C;
          border-radius: 3px;
        }

}


.pris{
  padding: 0.8rem;
//  filter:blur(5px);
  box-shadow: inset 0 0 80rem rgba(255, 255, 255, .3);
  box-shadow: 0 0 1rem 0.2rem rgba(44,18,41,1);
  background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(97,81,95, 0.5); /* Black w/opacity/see-through */
border-radius: 0.938rem;
  display: grid;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  margin-left:1rem;
  margin-right:1rem;
  margin-top: 3rem;
  text-align: center;
  margin-bottom:3rem;
  padding-bottom:0;
  .move {
    text-align: left;
  }
    p{
      font-size:0.938rem;
      letter-spacing: 0.11256rem;
      word-spacing: 0.15rem;
    }
      .price{
          text-align: right;
      }
}




.giftcontainer {
  position:relative;
  border:3px solid white;
  border-radius: 0.938rem;
  margin-left:1rem;
  margin-right:1rem;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87)),
    url('../img/giftcard.jpg');
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

      p{
        position:absolute;
        padding:1rem;
        bottom:-1rem;
        font-size:1.125rem;
        letter-spacing: 0.135rem;
        word-spacing: 0.18rem;
      }
  }



  .bokhead{
    display:grid;
    justify-content: center;
    justify-items: center;
        h1{
          font-size: 2.188rem;
          letter-spacing: 0.26256rem;
          color:white;
          height: 4rem;
          margin-bottom: 0;
          }
          .bokline{
            height: 3px;
            min-width: 10.453rem;
            background: #F4CB3C;
            border-radius: 3px;
          }

  }


.sc {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom:1.5rem;

  #sms {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: $borderRed 0 0 $borderRed;
    border: 3px solid white;
    background-color: gray;
    font-size:1.125rem;
    letter-spacing: 0.135rem;
    font-weight: bold;
    }


a{
  text-decoration: none;
  color:$bg;
  #tel {
    border: 3px solid white;
    padding-right: 3rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0  0.938rem  0.938rem 0;
    border-left: none;
    background-color: #F4CB3C;
    font-size:1.125rem;
    font-weight: bold;
    letter-spacing: 0.135rem;
  }

    }
  }


.lowline2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: 1rem;
}

p {

}

@media (min-width: 500px) {
  #priss {
    .giftcontainer {
      height: 16.5rem;
    }
  }
}

@media (min-width: 600px) {
  #priss {
    .pris {
      gap: 1rem;
    }
    .giftcontainer {
      height: 18.5rem;
    }
  }
}

@media (min-width: 700px) {
  #priss {
    .pris {
      p {
        font-size: 1.5rem;
        letter-spacing: 0.135rem;
        word-spacing: 0.18rem;

        span {
          font-size: 1.125rem !important;
        }
      }
    }
    .giftcontainer {
      height: 18.5rem;

      p {
        font-size: 1.5rem;
      }
    }
    .sc {
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  #priss {
    .pris {

    }
    .giftBoka {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 5rem;
      margin-top: 5rem;

      .giftcontainer {
        height: 16.5rem;
        order: 2;
      }
    }
  }
}

@media (min-width: 900px) {
  #priss {
    .pris {
      margin-left: 5rem;
      margin-right: 5rem;

    }
    .giftBoka {
      margin-left: 5rem;
      margin-right: 5rem;

    }
  }
}

@media (min-width: 1100px) {
  #priss {
    .pris {
      margin-left: 7rem;
      margin-right: 7rem;
      gap: 1.5rem;

      p {
        font-size: 1.75rem;
        letter-spacing: 0.135rem;
        word-spacing: 0.18rem;

        span {
          font-size: 1.125rem !important;
        }
      }

    }
    .giftBoka {
      margin-left: 7rem;
      margin-right: 7rem;

      .giftcontainer {
        height: 18.5rem;
        margin: 0 0 0 0;

        p {
          font-size: 1.75rem;
        }
      }
      .sc {
        p {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  #priss {
    .giftBoka {
      .giftcontainer {
        height: 21.5rem;

      }
    }
  }
}
